.container{
    max-width: 1200px;
    margin:0 auto;
    padding:30px 0 12px 0;
}
body{
    background: #FFFFFF;
    font-family: 'Cera Pro', sans-serif;
}
.nav {
    /*display: flex;*/
    /*justify-content: space-between;*/
    display: block;
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    max-width: 1200px;
    font-size: 0;
    vertical-align: middle;
}
.logo,
.menu,
.login {
    display: inline-block;
    vertical-align: middle; /* выравнивание по вертикали */
    font-size: 16px; /* возвращаем текстовый размер */
}
.menu .li{
    margin: 0 10px;
}
.logo {
    /*display: flex;*/
    align-items: center;
    /*gap: 8px;*/
    cursor: pointer;
    width: 30%;

}

.logo__text {
    font-size: 24px;
    font-weight: bold;
    color: #46A358;
    cursor: pointer;
    vertical-align: middle;
    /*margin-right: 230px;*/
}
.logo img,
.logo__text {
    display: inline-block;
    vertical-align: middle; /* выравниваем по одной линии */
}

/* Меню */
.menu {
    /*gap: 50px;*/
    list-style: none;
    width: 60%;
    vertical-align: middle;
}
.menu li {
    display: inline-block;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #3D3D3D;
    line-height: 20px;
}

/* Кнопка логина */
.login {
    width: 10%;
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*align-items: center;*/
    color: #FFFFFF;
    background: #46A358;
    border-radius: 6px;
    /*gap: 4px;*/
    padding: 8px 16px 8px 25px;
    cursor: pointer;
    line-height: 20px;
}
.login_btn {
    width: 20px;
    height: 20px;
}
.login img,.login_btn {
    display: inline-block;
    vertical-align: middle;
}



.section1 .container{
    background: linear-gradient(97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%);
}
.section1 .left_side{
    max-width: 650px;
    padding: 68px 0 85px 40px ;
    /*flex: 1;*/
    /*z-index: 2;*/
    h3{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #3D3D3D;
        margin-bottom: 8px;
    }
    h1{
        font-weight: 900;
        font-size: 70px;
        line-height: 70px;
        text-transform: uppercase;
        color: #3D3D3D;
        margin-bottom: 5px;
    }
    span{
        color: #46A358;
    }
    p{
        font-size: 14px;
        line-height: 24px;
        color: #727272;
        margin-bottom: 44px;
    }
}
.btn{
    border-radius: 6px;
    background: #46A358;
    padding: 11px 26px 9px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.left_side {
    display: inline-block;
    width: 70%;
    vertical-align: top; /* чтобы выровнять верхушки блоков */
}

.right_side {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.vazon_mini {
    max-width: 1px;
}
.vazon {
    max-width: 507px;
}




